body {
	background-image: url(http://media.indiedb.com/images/members/1/427/426426/Umbrella_Wallpaper.1.jpg);
	background-attachment: fixed;
	background-repeat:no-repeat;
	color: white;
	font-family: sans-serif;
	font-size: medium;
}

a{
	text-decoration: none;
	color: white;
	font-size: 2em;
	font-family: arial;
}

li{
	list-style-type: none;
	border: 1px solid grey;
	border-radius: 5px;
	margin-bottom: 20px;
	padding : 2px;
}

ul{
	position: fixed;
	right: 0;
	top: 30%;
	text-align : center;
}

article{
	display: inline-block;
	width: 25%;
	margin-top: 20%;
	margin-right: 2%;
	margin-left: 1%;
	text-align: justify;
}

.separateur {
	border-left: 1px solid white;
	padding-left: 30px;
}

form {
	text-align: center;
	margin: auto;
	margin-top: 25%;
	border : 2px solid #111;
	border-radius: 5px;
	width: 35%;
	background-color: rgba(0,0,0,0.7);
}

article img {
	width: 70%;
	padding-left: 18%;
	margin-top: -10%;
}

/*Slider page d'accueil*/
figure {
	text-align : center;
}
figure img {
	border-radius: 10px;
	height: 400px;
}
figcaption {
	margin-top : 20px;
}

#slider {
	background-color: rgba(0,0,0,0.7);
	width : 900px;
	height: 500px;
	border : 1px solid #111;
	border-radius : 10px;
	margin-left : 15%;
	margin-top : 18%;
}